/node_modules
/public/hot
/public/storage
/public/css/
/public/js/
/storage/*.key
/storage/app/
/vendor
.env
.env.backup
.env_prod
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
exclude.csv
/texture_pack

