// Put your custom styling here
// Makes rows and cards in app nice looking, if you hover over them
div[data-href], tr[data-href]
    cursor: pointer

// Necessary for making single video in show view resize nicely
.actions
    position: absolute
    top: 10%
    right: 5%
    height: auto
    width: auto
    z-index: 1
    opacity: 0.7

#information_box
    opacity: 0.7

#description_box
    white-space: pre-wrap

#jumbotron
    background-image: url("storage/img/salsa.jpg")

#buttons
    // HIER NOCH NACHSEHEN, WIE VERZÖGERUNG EINGEBAUT WERDEN KANN VIA CSS
    transform: translate(5000)

body
    background-image: url('storage/img/wood1.png')

@media screen and (max-width: 768px)
    .table_card table
        border: 0

    .table_card thead
        display: none

    .table_card tr
        margin-bottom: 20px
        margin-left: auto
        margin-right: auto
        display: block
        max-width: 300px !important
        border-bottom: 2px solid #ddd
        box-shadow: 2px 2px 1px #dadada
        background-color: #282C30

    .table_card td
        display: block
        text-align: right
        font-size: 13px

    .table_card td:last-child
        border-bottom: 0

    .table_card td::before
        content: attr(data-label)
        float: left
        text-transform: uppercase

    .table_card tbody
        //line-height: 0 !important
