// Put your custom styling here
// Makes rows and cards in app nice looking, if you hover over them
div[data-href], tr[data-href]
    cursor: pointer

// Necessary for making single video in show view resize nicely
.actions
    position: absolute
    top: 10%
    right: 5%
    height: auto
    width: auto
    z-index: 1
    opacity: 70%

#information
    position: absolute
    top: 50%
    right: 5%
    height: auto
    width: auto
    z-index: 1

#jumbotron
    background-image: url("storage/img/salsa.jpg")

#buttons
    // HIER NOCH NACHSEHEN, WIE VERZÖGERUNG EINGEBAUT WERDEN KANN VIA CSS
    transform: translate(5000)

body
    background-image: url('storage/img/wood1.png')

